.product-image-detail {
    max-height: 500px;
    max-width : 300px;
}

@media only screen and (max-width: 760px) {
    .product-image-detail {
        max-height: 500px;
        max-width : 300px;
    }

    .product-detail-top {
        max-width : 300px;
        max-height: unset;
        flex-flow : column;

    }
}